{% extends "shared/base.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
    <h1>Login</h1>

    {% include "shared/errorlist.html" %}

    <form method="POST">
        <label for="uname" style="display: inline-block; width: 100px"><b>Username</b></label>
        <input type="text" placeholder="asd" name="username" id="uname" required>
        <br>
        <label for="pwd" style="display: inline-block; width: 100px"><b>Password</b></label>
        <input type="password" placeholder="asd" name="password" id="pwd" required>

        <button type="submit">Login</button>
    </form>

    <br>
    <p>Noch nicht registriert? <a href="/register">Jetzt Konto anlegen!</a></p>
{% endblock %}