{% extends "shared/base.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
    <h1>Login</h1>

    {% if errors %}
        <div>
            <p>
                {% for error in errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </p>
        </div>
    {% endif %}

    <form method="POST">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="asd" name="username" id="uname" required>
        <br>
        <label for="pwd"><b>Password</b></label>
        <input type="password" placeholder="asd" name="password" id="pwd" required>

        <button type="submit">Login</button>
    </form>
{% endblock %}