{% extends "shared/base.html" %}

{% block title %}
    <title>Registrierung</title>
{% endblock %}

{% block content %}
    <h1>Registrierung</h1>

    {% include "shared/errorlist.html" %}

    <form method="post">
        <label for="uname" style="display: inline-block; width: 100px"><b>Username</b></label>
        <input type="text" placeholder="Username" name="username" id="uname" value="{{username}}" required>

        <br>

        <label for="email" style="display: inline-block; width: 100px"><b>E-Mail</b></label>
        <input type="text" placeholder="Email" name="email" id="email" value="{{email}}" required>

        <br>

        <label for="pwd" style="display: inline-block; width: 100px"><b>Password</b></label>
        <input type="password" placeholder="Password" name="password" id="pwd" required>

        <button type="submit">Registrieren</button>
    </form>
{% endblock %}